@import url('https://fonts.googleapis.com/css2?family=Jersey+15&family=Jersey+20+Charted&family=Noto+Color+Emoji&family=Noto+Sans+KR:wght@100..900&family=Workbench&display=swap');

/* 루트 레벨 css */
:root{
  font-family: 'Noto Color Emoji','Noto Sans KR','Workbench','Jersey 20 Charted','Jersey 15',sans-serif;
  font-weight: 500;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
}


#root{
  min-width: 360px;
  height: 100%;
}

/* CSS Reset */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
  color: inherit;
  flex-shrink: 0;
}

/* 원본 코드 */
/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
